<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yatra+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'danger' %}
                        <div class="error-message">{{ message }}</div>
                    {% else %}
                        <div class="success-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>User Dashboard</h1>
        <h2>Welcome, User!</h2>
        <p>This is the user dashboard.</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const successMessage = document.querySelector('.success-message');
            const errorMessage = document.querySelector('.error-message');

            if (successMessage) {
                const audio = new Audio("{{ url_for('static', filename='audio/success.mp3') }}");
                audio.play();
            }

            if (errorMessage) {
                const audio = new Audio("{{ url_for('static', filename='audio/fail.mp3') }}");
                audio.play();
            }
        });
    </script>
</body>
</html>
