<!DOCTYPE html>
<html>
<head>
    <title>Cashier Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yatra+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'danger' %}
                        <div class="error-message">{{ message }}</div>
                    {% else %}
                        <div class="success-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Cashier Dashboard</h1>
        <h2>Welcome, Cashier!</h2>
        <p>This is the cashier dashboard.</p>
    </div>
</body>
</html>
